<form class="w3-container" method="post" target="/new/post">
    <label class="w3-text-teal"><b>Name</b></label>
    <input class="w3-input w3-border w3-light-grey" name="authorName" type="text">
  
    <label class="w3-text-teal"><b>Title</b></label>
    <input class="w3-input w3-border w3-light-grey"  name="blogTitle"  type="text">

    <label class="w3-text-teal"><b>SubTitle</b></label>
    <input class="w3-input w3-border w3-light-grey"  name="subTitle"  type="text">

    <label class="w3-text-teal"><b>Description</b></label>
    <input class="w3-input w3-border w3-light-grey"  name="description"  type="text">

    <button class="w3-btn w3-blue-grey">Register</button>
  </form>